/*!
Theme Name: Land Trsit of North Alabama
Theme URI:
Description: This theme powers Land Trust
Version: 1.0
Author: PixelWatt
Author URI: https://pixelwatt.com
Tags: 

*/

@import "css/bootstrap/bootstrap.less";

@import url('https://fonts.googleapis.com/css?family=Slabo+13px');

// Light - 300

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
}

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-LightItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: 300;
}

// Regular- 400

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-Italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
}

// Medium - 500

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 500;
}

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-MediumItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-MediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-MediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-MediumItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: 500;
}

// Semibold - 600

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 600;
}

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-SemiBoldItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-SemiBoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-SemiBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-SemiBoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: 600;
}


// Bold - 800

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 800;
}

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-BoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: 800;
}


// ExtraBold - 900

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-ExtraBold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 900;
}

@font-face {
  font-family: 'RidleyGrotesk';
  src: url('fonts/RidleyGrotesk-ExtraBoldItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/RidleyGrotesk-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/RidleyGrotesk-ExtraBoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/RidleyGrotesk-ExtraBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/RidleyGrotesk-ExtraBoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: 900;
}

.overlay-toggle {
    height: 26px;
    display: inline-block;
    line-height: 26px;
    font-size: 18px;
    color: #fff;
    background-image: url(images/overlay-toggle.png);
    background-position: left center;
    padding-left: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}

 /* The Overlay (background) */
.overlay {  
    height: 0%;
    left: 0;
    right: 0;
    position: fixed; 
    z-index: 9999 !important; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    
    .overlay-content {
        position: relative;
        width: 100%; 
        margin-top: 40px;
        
        .overlay-menu {
            margin-bottom: 50px;
            
            @media (max-width: @screen-xs-max) {
                margin-bottom: 30px;
            }
            
            .action-links {
                ul {
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    
                    li {
                        display: inline-block;
                        list-style: none;
                        margin-left: 30px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
        
        #primary-navigation {
            ul {
                margin: 0;
                padding: 0;
                font-size: 40px;
                font-weight: bold;
                line-height: 1.4;
                
                li {
                    list-style: none;
                    
                    a {
                        color: #fff;
                    }
                }
            }
            
            @media (max-width: @screen-xs-max) {
                margin-bottom: 10px;
                ul {
                    line-height: 1.3;
                    font-size: 24px;
                }
            }
        }
        
        #secondary-navigation {
            ul {
                margin: 0;
                padding: 0;
                font-size: 18px;
                font-weight: normal;
                line-height: 1.8;
                
                li {
                    list-style: none;
                    
                    a {
                        color: @brand-primary-light;
                    }
                }
            }
            
            @media (max-width: @screen-xs-max) {
                
                ul {
                    line-height: 1.5;
                    //font-size: 24px;
                }
            }
            
            @media (max-width: @screen-sm-max) {
                margin-bottom: 20px;
            }
        }
        
        #search-social {
            form {
                @media (max-width: @screen-sm-max) {
                    margin-bottom: 10px;
                }
            }
            
            label {
                width: 100%;
            }
            .search-field {
                width: 100%;
                height: 50px;
                font-size: 24px;
                font-weight: 300;
                background: transparent;
                border: none;
                border-bottom: 1px solid #417505;
                color: @brand-primary-light;
                background-image: url(images/search-icon.png);
                background-position: left center;
                background-repeat: no-repeat;
                text-indent: 50px;
            }
            
            .social-accounts {
                position: absolute;
                bottom: 0;
                right: 0;
                
                ul {
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    margin-right: 15px;
                    
                    li {
                        list-style: none;
                        display: inline-block;
                        font-size: 36px;
                        margin-left: 15px;
                        
                        a {
                            color: @brand-primary-light;
                        }
                    }
                }
                
                @media (max-width: @screen-sm-max) {
                    text-align: left;
                    position: relative;
                    
                    ul {
                        margin-right: 0;
                        
                        li {
                            margin-left: 0px;
                            margin-right: 15px;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}

.site-navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9998 !important;
    .site-navigation-content {
        margin-top: 40px;
        
        @media (max-width: @screen-xs-max) {
            margin-bottom: 30px;
        }
        
        .action-links {
            ul {
                margin: 0;
                padding: 0;
                display: inline-block;
                
                li {
                    display: inline-block;
                    list-style: none;
                    margin-left: 30px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    
                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

header {
    background-color: @gray-dark;
    min-height: 300px;
    
    &#header-home {
        background-image: url(images/header-home-bg-default.jpg);
        background-position: center center;
        background-size: cover;
        
        .shade {
            height: 100vh;
            min-height: 100vh;
            //position: relative;
            z-index: 1;
            background-image: url(images/header-home-shade.png);
            
            &:after {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                content: 'Scroll Down';
                color: #fff;
                font-size: 12px;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 3px;
                padding-bottom: 53px;
                .img-retina('images/header-home-arrow.png'; 'images/header-home-arrow-2x.png'; 31px; 48px);
                background-position: center bottom;
                background-repeat: no-repeat;
            }
            
            .container {
                padding-top: 150px;
            }
            
            h1, h2 {
                margin-top: 60px;
                margin-bottom: 70px;
                font-size: 72px;
                font-weight: 900;
                color: #fff;
            }
            
            .img-responsive {
                margin-left: auto;
                margin-right: auto;
            }
            
            .icon-row {
                a {
                    color: #fff;
                    font-size: 20px;
                    font-family: @font-family-serif;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    
                    &:before {
                        display: block;
                        height: 80px;
                        //background-color: @gray-dark;
                        content: ' ';
                        margin-bottom: 18px;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    
                    &#preserve-link {
                        &:before {
                            .img-retina('images/header-home-icon-preserve.png'; 'images/header-home-icon-preserve-2x.png'; 75px; 80px);
                        }
                    }
                    
                    &#steward-link {
                        &:before {
                            .img-retina('images/header-home-icon-steward.png'; 'images/header-home-icon-steward-2x.png'; 82px; 63px);
                        }
                    }
                    
                    &#connect-link {
                        &:before {
                            .img-retina('images/header-home-icon-connect.png'; 'images/header-home-icon-connect-2x.png'; 70px; 80px);
                        }
                    }
                    
                    &#conserve-link {
                        &:before {
                            .img-retina('images/header-home-icon-conserve.png'; 'images/header-home-icon-conserve-2x.png'; 120px; 63px);
                        }
                    }
                }
            }
        }
    }
    
    &.header-project {
        height: 500px;
        
        .positioning-fix {
            position: relative;
        }
        
        .map-overlay {
            position: relative;
            z-index: 20;
            height: 500px;
            //pointer-events: none;
            
            .inner {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding-bottom: 40px;
                
                h1 {
                    color: #fff;
                    font-weight: 900 !important;
                    font-size: 48px;
                    margin-bottom: 0px;
                }
                
                .subtitle {
                    color: @brand-primary;
                    font-family: @font-family-serif;
                    font-size: 24px;
                }
            }
        }
        
        #map {
            position: absolute !important;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 500px;
            z-index: 0 !important;
        }
    }
    
    &.header-internal {
        text-align: center;
        color: #fff;
        background-position: center center;
        background-size: cover;
        
        // TEMP RULE
        &.header-internal-steward {
            background-image: url(images/header-steward-bg.jpg);
            
            h1, h2 {
                &:before {
                    .img-retina('images/header-steward-icon.png'; 'images/header-steward-icon-2x.png'; 56px; 44px);
                }
            }
        }
        
        // TEMP RULE
        &.header-internal-blog {
            background-image: url(images/header-blog-bg.jpg);
            
            h1, h2 {
                &:before {
                    .img-retina('images/header-blog-icon.png'; 'images/header-blog-icon-2x.png'; 55px; 67px);
                }
            }
        }
        
        // TEMP RULE
        &.header-internal-support {
            background-image: url(images/header-blog-bg.jpg);
            
            h1, h2 {
                &:before {
                    .img-retina('images/header-blog-icon.png'; 'images/header-blog-icon-2x.png'; 55px; 67px);
                }
            }
        }
        
        // TEMP RULE
        &.header-internal-guided {
            background-image: url(images/header-guided-bg.jpg);
            
            h1, h2 {
                &:before {
                    .img-retina('images/header-blog-icon.png'; 'images/header-blog-icon-2x.png'; 55px; 67px);
                }
            }
        }
        
        // TEMP RULE
        &.header-internal-board {
            background-image: url(images/header-board-bg.jpg);
            
            h1, h2 {
                &:before {
                    .img-retina('images/header-blog-icon.png'; 'images/header-blog-icon-2x.png'; 55px; 67px);
                }
            }
        }
        
        &.header-internal-events {
            background-image: url(images/header-events-bg.jpg);
            
            h1, h2 {
                &:before {
                    .img-retina('images/header-home-icon.png'; 'images/header-home-icon-2x.png'; 44px; 48px);
                }
            }
        }
        
        .shade {
            background-image: url(images/header-internal-shade.png);
            background-position: center center;
            background-size: cover;
            padding-top: 130px;
            padding-bottom: 140px;
        }
        
        h1, h2 {
            color: #fff;
            font-weight: 900;
            font-size: 64px;
            
            &:before {
                display: block;
                width: 90px;
                height: 90px;
                border-radius: 45px;
                content: ' ';
                background-color: @brand-primary-light;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
                
                
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
        
        .subtitle {
            font-family: @font-family-serif;
            font-size: 24px;
            font-weight: normal;
        }
    }
}

.page-content {
    padding: 50px 0;
    font-size: 16px;
    line-height: 1.4;
    
    h2 {
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 24px;
    }
    
    p {
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 1.5;
        
        &.lead {
            font-size: 20px;
            line-height: 1.4;
            font-weight: 400;
            margin-bottom: 30px;
        }
    }
    
    img {
        margin-bottom: 24px;
    }
    
    strong {
        font-weight: 900;
    }
    
    &.full-width {
        h2 {
            .img-retina('images/h2-divider.png'; 'images/h2-divider-2x.png'; 258px; 12px);
            background-position: center bottom;
            background-repeat: no-repeat;
            padding-bottom: 30px;
            text-align: center;
            margin: 40px 0;
        }
    }
    
    .page-content-content {
        &.page-content-content-lg {
            .inner {
                padding-right: 30px;
            }
        }
    }
    
    &.blog-post {
        h1 {
            margin-top: 0;
            margin-bottom: 15px;
            font-size: 46px;
            font-weight: 900;
        }
        
        .blog-post-meta {
            img {
                margin-right: 10px;
                margin-bottom: 0px;
            }
            
            .blog-post-meta-author {
                img {
                    border-radius: 18px;
                    border: 2px solid @gray;
                }
            }
        }
        
        .blog-post-inner {
            padding-top: 40px;
            
            img.blog-post-featured {
                margin-bottom: 24px;
            }
            
            p:first-of-type {
                font-size: 24px;
                line-height: 1.45;
                font-family: @font-family-serif;
                font-weight: normal;
            }
        }
    }
    
    .staff-row {
        .staff-row-item {
            margin-bottom: 35px;
            h4 {
                font-family: @font-family-sans-serif;
                font-weight: 600;
                color: #4A4A4A;
                font-size: 16px;
                margin-bottom: 2px;
            }
            
            .staff-title {
                color: #417505;
                font-size: 12px;
                font-family: @font-family-serif;
            }
        }
    }
    
    .sidebar-item {
        margin-bottom: 30px;
        
        h3 {
            padding: 15px 0;
            background-color: @brand-primary;
            font-family: @font-family-sans-serif;
            font-size: 15px;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            color: #fff;
            .img-retina('images/sidebar-item-headline-bg.png'; 'images/sidebar-item-headline-bg-2x.png'; 155px; 100px);
            background-position: center center;
            background-repeat: no-repeat;
            margin-bottom: 25px;
        }
        
        .see-more {
            font-weight: 500;
            color: #417505;
            font-style: italic;
            text-decoration: underline;
        }
        
        &.sidebar-item-events,
        &.sidebar-item-updates {
            ul {
                padding: 0;
                margin: 0;
                
                li {
                    list-style: none;
                    margin-bottom: 25px;
                    
                    h4 {
                        font-family: @font-family-serif;
                        font-size: 16px;
                        line-height: 1.5;
                        font-weight: normal;
                        margin-bottom: 0;
                        
                        a {
                            color: #4A4A4A;
                        }
                    }
                }
            }
            
            span.date {
                font-family: @font-family-sans-serif;
                font-weight: 900;
                text-transform: uppercase;
                color: #4A4A4A;
                font-size: 12px;
            }
        }
    }
}

.post-grid {
    padding: 50px 0;
    .post-grid-item {
        .thumbnail {
            border-radius: 0;
            padding: 0;
            .img-retina('images/post-grid-item-bg.png'; 'images/post-grid-item-bg-2x.png'; 241px; 198px);
            background-repeat: no-repeat;
            background-position: right bottom;
            
            @media (max-width: @screen-xs-max) {
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
            }
            
            .caption {
                padding: 20px;
                
                .caption-top {
                    min-height: 100px;
                    padding-bottom: 20px;
                }
                
                h3 {
                    margin-top: 5px;
                    font-weight: 800;
                    font-size: 24px;
                    margin-bottom: 5px;
                    
                    a {
                        color: #4A4A4A;
                    }
                }
                
                .post-date {
                    color: #417505;
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
        }
    }
}

.support-options {
    .support-options-nav {
        ul {
            border-bottom: 0px;
        }
        li {
            a {
                height: 180px;
                display: block;
                font-size: 16px;
                font-weight: bold;
                padding-top: 0px;
                border: none !important;
                border-radius: 0;
                color: #4A4A4A;
                
                
                
                
                &:hover {
                    background-color: transparent;
                    
                }
                
                &:before {
                    height: 110px;
                    display: block;
                    //background-color: @gray-dark;
                    content: ' ';
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                
                // TEMP RULE
                &#memorial-icon {
                    &:before {
                        background-image: url(images/support-icon-memorial.png);
                        
                    }
                }
                
                // TEMP RULE
                &#gift-icon {
                    &:before {
                        background-image: url(images/support-icon-gift.png);
                        
                    }
                }
                
                // TEMP RULE
                &#monthly-icon {
                    &:before {
                        background-image: url(images/support-icon-monthly.png);
                        
                    }
                }
                
                
                // TEMP RULE
                &#corporate-icon {
                    &:before {
                        background-image: url(images/support-icon-corporate.png);
                        
                    }
                }
                
                @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                    font-size: 14px;
                    height: 170px;
                }
                
                @media (max-width: @screen-xs-max) {
                    font-size: 14px;
                    height: auto;
                    padding: 10px 0;
                    
                    &:before {
                        display: none;
                        visibility: hidden;
                    }
                    
                    br {
                        display: none;
                        visibility: hidden;
                    }
                }
            }
            
            &.active {
                a {
                    border-bottom: 6px solid @brand-primary-light !important;
                }
                
                @media (max-width: @screen-xs-max) {
                    a {
                        border-bottom: 0px !important;
                        background-color: @brand-primary-light;
                    }
                }
            }
            
            
            
        }
        
    }
    .support-options-content {
        background: #EDEDED;
        padding: 50px 0;
        
        h3 {
            font-size: 24px;
            font-weight: 800;
            color: #417505;
        }
        
        p {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 20px;
        }
    }
}

.volunteer-options {
    ul.volunteer-options-nav {
        margin: 20px 0 0 0;
        padding: 0;
        display: inline-block;
        
        li {
            list-style: none;
            display: inline-block;
            
            a {
                border-right: 1px solid #C9EA7C;
                background-color: #417505;
                display: inline-block;
                padding: 8px 15px;
                font-size: 14px;
                font-weight: 800;
                color: #C9EA7C;
                
                &:hover {
                    text-decoration: none;
                }
            }
            
            &:first-of-type {
                a {    
                    border-radius: 50px 0px 0px 50px;
                    padding-left: 20px;
                }
            }
            
            &:last-of-type {
                a {    
                    border-radius: 0px 50px 50px 0px;
                    padding-right: 20px;
                }
            }
            
            &.active {
                a {
                    background-color: #C9EA7C;
                    color: #417505;
                }
            }
        }
    }
    
    .tab-content {
        padding: 40px 0;
        
        h3 {
            font-size: 20px;
            font-weight: 900;
            color: #417505;
        }
        
        p {
            font-size: 14px;
            line-height: 1.45;
        }
        
        .btn {
            font-weight: bold;
        }
    }
}

#connect-map {
    position: relative;
    border-top: 2px solid @brand-primary;
    
    #map {
        height: 660px;
        width: 100%;
    }
    
    .connect-map-overlay {
        position: absolute;
        top: 70px;
        bottom: 70px;
        left: 30px;
        width: 420px;
        background: #fff;
        border: 2px solid #417505;  
        
        .top {
            h2 {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 97px;
                background-color: #417505;
                .img-retina('images/connect-map-overlay-bg.png'; 'images/connect-map-overlay-bg-2x.png'; 141px; 117px);
                background-position: left center;
                background-repeat: no-repeat;
                font-size: 48px;
                font-weight: 900;
                color: #fff;
                line-height: 97px;
                vertical-align: middle;
                text-indent: 95px;
            }
        } 
        
        .middle {
            padding: 15px 30px;
            background-color: @brand-primary;
            color: #fff;
            border-bottom: 1px solid #417505;
            font-size: 12px;
            line-height: 1.33;
        }
        
        .location-list-container {
            ul.location-list {
                margin: 0;
                padding: 10px 30px 30px 30px;
                
                li {
                    list-style: none;
                    border-bottom: 1px solid @brand-primary;
                    
                    a {
                        display: block;
                        padding: 20px 0;
                        font-size: 18px;
                        font-weight: bold;
                        color: #4A4A4A;
                        .img-retina('images/connect-location-list-item-bg.png'; 'images/connect-location-list-item-bg-2x.png'; 6px; 14px);
                        background-position: right center;
                        background-repeat: no-repeat;
                    }
                    
                    &:last-of-type {
                        border-bottom: none;
                    }
                }
            }
        }
    }
    
}
    

#home-mission {
    padding: 100px 0;
    background-image: url(images/home-mission-bg.jpg);
    background-size: cover;
    background-position: center center;
    
    h2 {
        width: 750px;
        height: 565px;
        .img-retina('images/home-mission-type.png'; 'images/home-mission-type-2x.png'; 750px; 565px);
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0px auto;
        line-height: 1;
        
    }
    
    .inner {
        position: relative;
    }
    
    .learn-more {
        position: absolute;
        border: 0;
        left: 0;
        right: 0;
        margin-top: -55px;
    }
    
    .btn {
        border: 2px solid @brand-primary;
        border-radius: 100px;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: bold;
        color: #fff;
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.project-toolbar {
    background-color: @brand-primary;
    padding: 20px 0;
    
    ul.project-toolbar-nav {
        margin: 0;
        padding: 0;
        display: inline-block;
        
        li {
            list-style: none;
            display: inline-block;
            
            a {
                border-right: 1px solid @brand-primary;
                background-color: #417505;
                display: inline-block;
                padding: 8px 15px;
                font-size: 14px;
                font-weight: 800;
                color: @brand-primary;
                
                &:hover, &:focus, &:active {
                    text-decoration: none;
                }
            }
            
            &:first-of-type {
                a {    
                    border-radius: 50px 0px 0px 50px;
                    padding-left: 20px;
                }
            }
            
            &:last-of-type {
                a {    
                    border-radius: 0px 50px 50px 0px;
                    padding-right: 20px;
                }
            }
            
            &.active {
                a {
                    background-color: #fff;
                    color: #417505;
                }
            }
        }
    }
    
    .project-dropdown {
		position: relative;
		
		@media (max-width: @screen-xs-max) {
			text-align: left;
			
			.inner {
				display: inline-block;
				position: relative;
				margin-top: 10px;
			}
		}
		
		select {
			outline: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			display: inline-block;
			height: 36px;
			border-radius: 18px;
			background: transparent;
			font-size: 14px;
			font-weight: 800;
			padding-left: 15px;
			padding-right: 50px;
			border: 2px solid #fff;
			width: 100%;
			color: #fff;
			
			&::-ms-expand {
			    display: none;
			}
			
			option {
    			    color: #000;
			}
		}
		
		.arrow {
			position: absolute;
			right: 30px;
			top: 8px;
			pointer-events: none;
			color: #fff;
			
			@media (max-width: @screen-xs-max) {
				right: 15px;
			}
		}
	}
}

.green-cta {
    padding: 15px 0;
    background-color: @brand-primary-light; //#6CB71B;
    vertical-align: middle;
    
    img {
        margin-right: 10px;
    }
    
    span {
        font-size: 20px;
        line-height: 1;
        color: #417505;
        font-family: @font-family-serif;    
        vertical-align: middle;
        margin-right: 30px;
        
    }
    
    .btn-primary {
        background-color: #417505;
        color: #fff;
        font-weight: 500;
        border: none;
        border-radius: 100px;
    }
}

.connect-map-cta {
    padding: 30px 0;
    background-color: @brand-primary; //#6CB71B;
    position: relative;
    
    &:before, &:after {
        position: absolute;
        display: block;
        width: 287px;
        height: 92px;
        bottom: 0;
        content: ' ';
    }
    
    &:before {
        left: 0;
        .img-retina('images/connect-map-cta-left.png'; 'images/connect-map-cta-left-2x.png'; 287px; 92px);
        pointer-events: none;
    }
    
    &:after {
        right: 0;
        .img-retina('images/connect-map-cta-right.png'; 'images/connect-map-cta-right-2x.png'; 287px; 92px);
        pointer-events: none;
    }
    
    img {
        margin-right: 13px;
    }
    
    span {
        font-size: 20px;
        line-height: 1;
        color: #fff;
        font-family: @font-family-sans-serif;    
        vertical-align: middle;
        margin-right: 30px;
        
        strong {
            font-weight: 800;
        }
    }
    
    .btn-primary {
        background-color: #417505;
        color: #fff;
        font-weight: 500;
        border: none;
        border-radius: 100px;
    }
    
    &.inverted {
        background-color: transparent;
        
        span {
            color: #417505;
        }
        
        .btn-primary {
            background-color: @brand-primary;
        }
        
        &:before {
            .img-retina('images/connect-map-cta-inverted-left.png'; 'images/connect-map-cta-inverted-left-2x.png'; 287px; 92px);
        }
        
        &:after {
            .img-retina('images/connect-map-cta-inverted-right.png'; 'images/connect-map-cta-inverted-right-2x.png'; 287px; 92px);
        }
    }
}

#connect-outro {
    padding: 60px 0;
    h2 {
        font-size: 30px;
        font-weight: 900;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .social-grid {
        .social-grid-item {
            margin-top: 30px;
            margin-bottom: 0px;
            
            .fa-stack.fa-lg {
                font-size: 36px;
                margin-right: 10px;
            }
            .social-grid-item-title {
                font-size: 20px;
                font-family: @font-family-serif;
                line-height: 1;
                color: #417505;
            }
            
            a:hover, a:active, a:focus {
                text-decoration: none;
            }
        }
    }
    
    .enewsletter-form {
        form {
            margin-top: 30px;
            
            label {
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 800;
            }
            
            .help-block {
                font-weight: 500;
            }
        }
    }
}

#home-app {
    padding: 100px 0 130px 0;
    background-image: url(images/home-app-bg.jpg);
    background-position: center bottom;
    background-size: cover;
    position: relative;
    
    .hand {
        position: absolute;
        right: 0;
        bottom: 0;
        pointer-events: none;
    }
    
    .left {
        .inner {
            background-color: #71BE1C;
            border: 2px solid #417505;
            color: #fff;
            .img-retina('images/home-app-bg.png'; 'images/home-app-bg-2x.png'; 138px; 152px);
            background-position: left top;
            background-repeat: no-repeat;
            
            .top {
                padding: 50px 40px 0px 40px;
            }
            
            .bottom {
                padding: 40px 40px 40px 40px;
                .img-retina('images/home-app-arrow.png'; 'images/home-app-arrow-2x.png'; 150px; 43px);
                background-position: right center;
                background-repeat: no-repeat;
            }
            
            h2 {
                width: 283px;
                height: 43px;
                .img-retina('images/home-app-headline.png'; 'images/home-app-headline-2x.png'; 283px; 43px);
                background-repeat: no-repeat;
                margin-bottom: 20px;
            }
            
            p {
                font-size: 16px;
                line-height: 1.4;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            
            .btn {
                border: 2px solid @brand-primary-light;
                border-radius: 100px;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-weight: bold;
                color: #fff;
                font-size: 17px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

footer {
    padding: 40px 0;
    background-color: #222222;
    overflow-x: hidden;
    
    .footer-nav-row {
        margin-bottom: 40px;
    }
    .footer-nav {
        .footer-nav-inner {
            display: flex;
            align-items: center;
            
            ul {
                width: 100%;
                margin: 0;
                padding: 0;
                
                li {
                    list-style: none;
                    display: inline-block;
                    margin: 0 20px;
                    text-transform: uppercase;
                    font-size: 16px;
                    
                    a {
                        color: @brand-primary-light;
                    }
                }
            }
        }
        
        &.footer-nav-left {
            ul {
                text-align: right;
            }
        }
        
        &.footer-nav-right {
            ul {
                text-align: left;
            }
        }
    }
    
    .footer-social-row {
        margin-bottom: 40px;
    }
    
    .footer-social {
        ul {
            padding: 0;
            margin: 0;
            position: relative;
            display: inline-block;
            
            li {
                position: relative;
                list-style: none;
                display: inline-block;
                margin: 0 5px;
                z-index: 10;
            }
            
            &:before, &:after {
                content: ' ';
                width: 227px;
                height: 23px;
                display: inline-block;
                position: absolute;
                top: 8px;
                z-index: 5;
            }
            
            &:before {
                .img-retina('images/footer-social-left.png'; 'images/footer-social-left-2x.png'; 227px; 23px);
                left: 0;
                margin-left: -240px;
            }
            
            &:after {
                .img-retina('images/footer-social-right.png'; 'images/footer-social-right-2x.png'; 227px; 23px);
                right: 0;
                margin-right: -240px;
            }
        }
        
        .fa-stack {
            line-height: 40px;
        }
        
        a {
            .fa {
                color: #417505 !important;
                
                &.fa-inverse {
                    color: @brand-primary-light !important;
                }
                
                &.fa-circle {
                    font-size: 40px;
                }
            }
        }
    }
    
    .footer-copyright-row {
        margin-bottom: 0px;
    }
    
    .footer-copyright {
        font-size: 16px;
        color: #E0E0E0;
        
        p {
            margin: 0;
            padding: 0;
        }
    }
    
    .footer-tag {
        a#pixelwatt-tag {
            width: 184px;
            height: 22px;
            display: block;
            margin: 10px auto 0;
            font-size: 0;
            text-indent: -9999px;
            .img-retina('images/site-tag-inactive.png'; 'images/site-tag-inactive-2x.png'; 184px; 22px);
            
            &:hover {
                .img-retina('images/site-tag-active.png'; 'images/site-tag-active-2x.png'; 184px; 22px);    
            }
        }
    }
}

body.page-template-support {
    .page-content {
        padding-bottom: 0px;
    }
}

body.page-template-board {
    .page-content {
        h2:first-of-type {
            margin-top: 0px !important;
        }
    }
}

body.page-template-connect {
    .page-content {
        padding-bottom: 10px;
        h2:first-of-type {
            margin-top: 0px !important;
        }
    }
}



#tribe-bar-form {
    background-color: #B8E986;
}

label.label-tribe-bar-date,
label.label-tribe-bar-search {
    color: #417505;
}

.tribe-bar-submit {
    .tribe-events-button {
        background-color: transparent !important;
        //border: 2px solid  !important;
        box-shadow: inset 0px 0px 0px 2px #417505 !important;
        color: #417505 !important;
        letter-spacing: 2px !important;
        box-sizing: border-box !important;
    }
}

#tribe-bar-date,
#tribe-bar-search {
    font-weight: 400 !important;
    font-style: italic;
    color: #417505;
}

.tribe-bar-views-inner,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
    background-color: #7ED321 !important;
    color: #fff;
}

.tribe-bar-view-list a.tribe-icon-month, .tribe-bar-views-list span.tribe-icon-month, .tribe-select2-results-views .tribe-icon-month {
    background-image: url(images/events-calendar/icon-month.png);
}

.tribe-bar-view-list span[class^="tribe-icon-"], .tribe-bar-views-list span.tribe-icon-list, .tribe-select2-results-views span.tribe-icon-list {
    background-image: url(images/events-calendar/icon-list.png);
}

.tribe-bar-views-list span.tribe-icon-day, .tribe-select2-results-views span.tribe-icon-day {
    background-image: url(images/events-calendar/icon-day.png);
}

.tribe-events-page-title {
    text-transform: uppercase !important;
    font-size: 36px !important;
}

#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type="submit"], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a {
    background-color: @brand-primary;
}

ul.newsroom-files {
    padding: 0;
    margin: 0;
    
    li {
        list-style: none;
        margin-bottom: 10px;
        min-height: 34px;
        display: flex;
        align-items: center;
        text-indent: 40px;
        .img-retina('images/newsroom-file-icon.png'; 'images/newsroom-file-icon-2x.png'; 30px; 34px);
        background-position: left center;
        background-repeat: no-repeat;
        font-size: 16px;
        font-weight: 500;
        
        a {
            color: #5E5E5E;
        }
    }
}